/* GLOBAL */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.wrap {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;;
}

/* BG */ 
.bg {
    background-image: url(../images/bg2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    position: relative;
}

.bg__title, .bg__subtitle {
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}

.bg__title {
    font-size: 2.6rem;
    font-weight: bold;
}

.bg__subtitle {
    font-size: 2rem;
}

.bg__text {
    z-index: 1;
    width: 100%;
    max-width: 920px;
}

.bg__text img {
    width: 100%;
    max-width: 500px;
}

.bg__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3)
}

.bg__subtitle {
    font-size: 2rem;
}

/* HEADER */ 
.header {
    position: fixed;
    width: 100%;
    height: 62px;
    z-index: 100;
    padding: 1rem 0;
}

.header__bg {
    width: 100%;
    opacity: 0.3;
    background-color: #121212;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
}

.header__icons {
    
}

.header__icon {
    margin-right: 10px;
    font-size: 1.2rem;
    color: white;
}

.header__wrap {
    display: flex;
    align-items: center;
}

.header__wrap .columns {
    width: 100vw;
    align-items: center;
}

.header__logo {
    max-width: 120px;
}

.nav {
    text-align: right;
}

/* NAV */ 
.nav__link {
    color: lightgrey;
    font-weight: bold;
    font-size: 0.8rem;
    text-transform: uppercase;
    margin-left: 15px;
}

.nav__link:hover, .nav__link:active, .nav__link:visited {
    color: white;
}

.nav__link:first-of-type {
    margin-left: 0px;
}

/* CONTENT */
.page-content {
    margin-top: 3rem;
}

ul {
    margin: 0px;
    list-style: none;
}

li {
    font-weight: 700;
}

.about__li:last-of-type {
    margin-top: 1rem;
}

.about__li:last-of-type::before {
    content: '';
}

.about__li::before {
    content: '·';
    margin-right: 10px;
}

.about__list {
    margin-top: 0px;
}

/* HEADLINERS */
.section__headliners {
    margin-top: 3rem;
}

.card__headliners {
    min-height: 580px;
}

.page-footer {
    color: lightgray;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #121212;
    margin-top: 3rem;
}

.footer__list a {
    color: #757272;
}

.footer__list a:hover {
    color: lightgrey;
}
